<VirtualHost *:80>
  ServerName bagindex

  ErrorLog logs/bag-index-error.log
  CustomLog logs/bag-index-access.log common
  ProxyTimeout 600

  <Location / >
    ProxyPass ajp://localhost:8071/
    ProxyPassReverse ajp://localhost:8071/
  </Location>
</VirtualHost>
